<!-- <div class="signUpContainer"> -->
<!-- <h2>Create your account</h2> -->
<div
  style="width: 100vw; height: 100vh; background-color:rgba(0, 0, 0, 0.3); position: fixed; top: 0; left: 0; z-index: 500;"
  (click)="onClose()"></div>
<div
  style="position: fixed; padding-bottom: 38; width: 600px; left: 50%;
  top: 50%;
  transform: translate(-50%, -300px); height: 400px; margin: auto; background-color: white; border-radius: 15px; display: flex; flex-direction: column; z-index: 600;">

  <button (click)="onClose()" class="closeButton"
    style="margin-top: 10px; margin-left: 10px; height: 38px ; width: 38px; top: 0; left: 0; border-radius: 50%; background-color: transparent; border: none; font-weight: bold;">&#x2715;</button>

  <form style="margin: auto; margin-bottom: 69.1755; margin-top: 72.351;" (ngSubmit)="onSubmit(form)" #form="ngForm"
    class="signUpForm">

    <h3 style="margin-bottom: 1em;">Sign In</h3>

    <div class="inputContainer">
      <input type="text" name="email" #emailInput [ngClass]="emailInput.value != '' ? 'hasValue' : ''" ngModel required
        email class="inputText" autocomplete="email" />
      <div class="floating" id="emailLabel">
        <div>Email</div>
      </div>
    </div>

    <div class="inputContainer">
      <input type="password" name="password" #password password [ngClass]="password.value != '' ? 'hasValue' : ''"
        ngModel required class="inputText" autocomplete="password" />
      <div class="floating" id="emailLabel">
        <div>Password</div>
      </div>
      <div *ngIf="invalidSignIn" style="position: absolute; top: 49.6px; padding-left: 10px;">
        <div style="font-size: .8em; color: rgb(255, 51, 0);">Email or password is invalid!</div>
      </div>
    </div>


    <button type="submit" [ngStyle]="{'background-color': form.valid ? 'gray': 'rgb(170, 170, 170)'} "
      [disabled]="!form.valid"
      style=" height: 3em; border-radius: 1.5em; border: none; color: white; margin-top: 45.1755px;"> Submit </button>
  </form>
</div>



<!--
    <input #emailInput type="email" name="email" ngModel required email class="formInput" autocomplete="email" placeholder="Email"
      style="overflow: visible;" [ngClass]="emailInUse ? 'ng-invalid' : ''" />
      <p style="position: fixed; font-size: .8em;">An account with this email already exists!</p>
    </div>

    <label for="password" class="formInputLabel">Password</label>
    <input #passwordInput name="password" type="password" ngModel required class="formInput" autocomplete="new-password"
      [ngClass]="invalidPassword ? 'ng-invalid' : ''" />
    <div *ngIf="invalidPassword">
      <p>Password needs to be at least 6 characters!</p>
    </div>

    <button type="submit" class="btn btn-primary submitButton" [disabled]="!form.valid">
      Submit
    </button> -->
<!-- </form> -->
<!-- </div> -->
