<ng-template appPlaceholder></ng-template>
<div #headerContainer [ngClass]="windowScrolled ? 'notAtTop' : ''" style="padding: 1em; position: sticky; display: flex; left: 5px; right: 5px; justify-content: center; align-items: center; top: 8px; z-index: 100;  height: 70px; ">


  <div style="display: flex; justify-content: center; flex: 1">
  <div *ngIf="!loggedIn" style="display: flex; gap: 1em; margin-right: auto;">
    <div class="signUp" (click)="onSignUp()">Sign Up</div>
    <div class="signIn" (click)="onSignIn()">Sign In</div>
  </div>
  <div class="signOut" *ngIf="loggedIn" style="display: flex; gap: 1em; margin-right: auto;">

    <div (click)="onSignOut()">Sign Out</div></div>
  </div>
  <img (click)="navigateHome()" src="assets/img/Logo.png" alt="Bear Title Card" style="height: 60px; justify-self: center;">
  <div style="display: flex; justify-content: center; flex: 1">
    <div class="welcome" *ngIf="loggedIn && user"  (click)="goToUserBlogs()">Welcome, {{user.firstName}}</div>
  </div>
</div>
