a {
  font-family: "Futura Medium", sans-serif;
  color: #9b9b9b;
}

img:hover{
cursor: pointer;
}

.notAtTop {
  border: 1px solid #e0e0e0;
  margin: .5em;
  background-color: rgb(255, 255, 255, .9);
  transition: all 1s;
}
