<app-header></app-header>
<div class="blogOuterContainer" *ngIf="blog">
  <div class="blogInnerContainer">
    <div class="edit" *ngIf="editable" (click)="editBlog()">Edit</div>
    <!-- [ngStyle]="{'position': absolute ? 'absolute' : 'static'}" > -->
    <div class="intro">
      <div class="title">{{blog.title}}</div>
      <div class="blurb">{{blog.blurb}}</div>
      <div style="font-size: 3em; width: fit-content; white-space: 0; cursor: pointer; align-self: flex-end; display: flex; flex-direction: row;">
      <div [ngStyle]="{'color': blogLiked ? '#c46d45' : 'black'}" (click)="likeBlog()">&hearts;</div><div>{{blog.likesCount}}</div></div>
      <hr>
    </div>
    <img [src]=blog.image alt="Ahhh Bear" title="Ahhh Bear" style="object-fit: contain;">
    <label for="image" style="color: #c46d45;">{{blog.imageDescription}}</label>
    <div class="mainContainer">
      <div  class="author" >By <span (click)="getUsersBlogs()">{{blog.author}}</span>
      </div>
      <div class="date">{{blog.date}}</div>
      <div class="main">{{blog.bodyText}}</div>
    </div>

  </div>
</div>
