.blogOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 100%;
  padding-top: 5em;
}

.blogInnerContainer {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  margin: auto;
  padding: 1em;
}

.title {
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
}

.blurb {
  font-size: 20px;
  font-weight: lighter;
  padding-top: 0.5em;
}

hr {
  color: rgb(172, 172, 172);
  margin-bottom: 1.5em;
  margin-top: 1em;
}

label {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(100, 100, 100);
  margin: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  margin: auto;
  padding: 1em;
}

.author {
  font-weight: bold;
  margin-bottom: 0.25em;
}

.date {
  font-size: 0.75em;
}

.main {
  margin-top: 1em;
  font-weight: 400;
  font-size: 1.25em;
  white-space: pre-line;
}
