<app-header></app-header>
<div class="blogOuterContainer" *ngIf="blog">
  <div class="blogInnerContainer">
    <!-- [ngStyle]="{'position': absolute ? 'absolute' : 'static'}" > -->
    <div class="intro">
      <div class="title">{{blog.title}}</div>
      <div class="blurb">{{blog.blurb}}</div>
      <hr>
    </div>
    <img [src]=blog.image alt="Ahhh Bear" title="Ahhh Bear">
    <label for="image">{{blog.imageDescription}}</label>
    <div class="mainContainer">
      <div class="author">By {{blog.author}}</div>
      <div class="date">{{blog.date}}</div>
      <div class="main">{{blog.bodyText}}</div>
    </div>

  </div>
</div>
