<!-- <div class="signUpContainer"> -->
  <!-- <h2>Create your account</h2>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="signUpForm"> -->
<h2>Hello World</h2>
    <div style="display: grid; ">




    <input type="text" name="email"  style="border-radius: 5px; padding-top: 15px;  grid-row-start: 1; grid-column-start: 1; " ngModel required="email" class="inputText" autocomplete="email"/>
   <div class="floating" style="display: flex; pointer-events: none; grid-row-start: 1; grid-column-start: 1; padding-left: 10px">
    <div style="pointer-events: none; text-align: center;" >Email</div>
    </div>

</div>
<!--
    <input #emailInput type="email" name="email" ngModel required email class="formInput" autocomplete="email" placeholder="Email"
      style="overflow: visible;" [ngClass]="emailInUse ? 'ng-invalid' : ''" />
    <div *ngIf="emailInUse">
      <p style="position: fixed; font-size: .8em;">An account with this email already exists!</p>
    </div>

    <label for="password" class="formInputLabel">Password</label>
    <input #passwordInput name="password" type="password" ngModel required class="formInput" autocomplete="new-password"
      [ngClass]="invalidPassword ? 'ng-invalid' : ''" />
    <div *ngIf="invalidPassword">
      <p>Password needs to be at least 6 characters!</p>
    </div>

    <button type="submit" class="btn btn-primary submitButton" [disabled]="!form.valid">
      Submit
    </button> -->
  <!-- </form> -->
<!-- </div> -->
