/* .signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

/* h2 {
  font-family: mochiy pop one;
}

.signUpForm {
  display: flex;
  flex-direction: column;
}

.formInput {

}

.formInputLabel {
  font-size: 1.5em;
  margin-top: 1em;
}



.submitButton {
  min-width: 8em;
  margin-top: 2em;
  align-self: center;
}

p {
  color: red;
  position: fixed;
  font-size: 0.8em;
} */

.formInput.ng-invalid.ng-touched {
  border: 1px solid red;
}

.inputContainer{
  margin-bottom: 1.5em;
  display: grid;
  height: 3em;
  position: relative;
}

input:focus ~ .floating {
color: #719ece;}

input:focus ~ .floating,
input.hasValue ~ .floating {
  font-size: 10px;
  opacity: 1;
  padding-top: 5px;
}

.inputText {
  font-size: 14px;
  border-radius: 3px;
  border-color: lightgray;
  border-width: .1px;
  padding-top: 15px;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  grid-row-start: 1;
  grid-column-start: 1;
}

input:focus,
textarea:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 3px #719ece;
}

.signUpForm {
  width: 85%;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.floating {
  color:rgb(122, 122, 122);
  height: 3em;
  display: flex;
  pointer-events: none;
  grid-row-start: 1;
  grid-column-start: 1;
  padding-left: 10px;
  transition: 150ms all ease;
  padding-top: 10px;
  padding-bottom: 9px;

}
.closeButton:focus{
  outline: 2px solid rgb(100, 100, 100);
}

.closeButton:hover, .closeButton:focus {
background-color: lightgray !important;
}

/*
.input-container{
  height: 50px;
  position: relative
} */
