<div class="homeContainer" style="overflow:hidden;">
  <div style="display: grid;">
    <div class="title"
      style="grid-column: 2; grid-row: 1;  padding-bottom: 12%; width: 100%; align-items: center; display: flex;">
      <div style=" color: black; padding-left: 1%; padding-right: 1%; margin-right: 2%; ">
        <h1 style=" font-size: 2em;">Boiled Bear Blog</h1>
        <h1 style="font-size: 1em; ">Sharing stories, photos, and recipies in the culinary art of
          boiled bear</h1>
      </div>
    </div>
    <div style="height:100vh; width:70vw; overflow:hidden;grid-column: 1; grid-row: 1; ">

      <div style="grid-column: 1; grid-row: 1; min-width:max-content; min-height:max-content; display: grid;">
        <div
          style="grid-row: 1;grid-column: 1; min-width: 100vw; min-height: 100vh;  background-color: rgba(0,0,0,.4); z-index: 3;">
        </div>
        <img src="assets/img/bearTitlecard.jpg" alt="Bear Title Card">


      </div>
    </div>
  </div>
