@keyframes breath {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5)
    }
  /* 100% {
    transform: scale(1);
  } */
}

img {
  animation: breath 120s linear infinite;
  grid-row: 1;
  grid-column: 1;
  min-width: 100vw;
  min-height: 100vh;
}
.homeContainer {
/* position: absolute;
top: 0;
left: 0; */
overflow: hidden; width: 100vw; height: 100vh;
}
